PORT=4000

DATABASE_URL="mysql://root:root123@localhost:3310/suite_educativa"

JWT_SECRET="cambia_este_secret_en_produccion_minimo_32_caracteres"
JWT_EXPIRATION="7d"

CORS_ORIGIN="http://localhost:5173"
NODE_ENV="development"

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

INSTITUTION_NAME=CPre-U
INSTITUTION_SHORT_NAME=CPre
INSTITUTION_TAGLINE=Ingreso a la U
INSTITUTION_LEGAL_NAME=Centro de Pre-U
INSTITUTION_DOC_NUMBER=123456789
INSTITUTION_ADDRESS=Av. Universitaria
INSTITUTION_PHONE=(01) 123-4567
APP_NAME=Suite Académica
LOGO_MAIN_PUBLIC_ID=logo-cpre
LOGO_SECOND_PUBLIC_ID=logo-u

# Resend API Key (obtén una gratis en https://resend.com)
RESEND_API_KEY=re_tu_api_key_aqui
RESEND_FROM_EMAIL="Suite Educativa <noreply@tudominio.com>"

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Request expiration (en horas)
PASSWORD_RESET_EXPIRY_HOURS=24

# Rate limit (en minutos)
PASSWORD_RESET_RATE_LIMIT=15